@using X.PagedList.Mvc.Core
@using X.PagedList
@model IPagedList<Projects>

@{
    ViewData["Title"] = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="index.php">Home</a> / Buy, Sale & Rent</span>
        <h2>Buy, Sale & Rent</h2>
    </div>
</div>
<!-- banner -->


<div class="container">
    <div class="properties-listing spacer">

        <div class="row">
            <div class="col-lg-3 col-sm-4 ">

                @await Html.PartialAsync("~/Views/Project/PartialFilter.cshtml");



                <div class="hot-properties hidden-xs">
                    <h4>Hot Properties</h4>
                    <div class="row">
                        <div class="col-lg-4 col-sm-5"><img src="images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
                        <div class="col-lg-8 col-sm-7">
                            <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                            <p class="price">$300,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-5"><img src="images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
                        <div class="col-lg-8 col-sm-7">
                            <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                            <p class="price">$300,000</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-sm-5"><img src="images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
                        <div class="col-lg-8 col-sm-7">
                            <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                            <p class="price">$300,000</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-sm-5"><img src="images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
                        <div class="col-lg-8 col-sm-7">
                            <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                            <p class="price">$300,000</p>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-lg-9 col-sm-8">
                <div class="sortby clearfix">
                    <div class="pull-left result">Showing: @ViewBag.count </div>
                    <div class="pull-right">
                        <select class="form-control">
                            <option>Sort by</option>
                            <option>Price: Low to High</option>
                            <option>Price: High to Low</option>
                        </select>
                    </div>

                </div>
            
                @foreach (var item in Model)
                {
                    var c = 1;
                    <div class="PBL1h3" data-index="1" data-project-card="true">
                        <a asp-controller="Project" asp-action="PropertyDetails" asp-route-id="@item.ProjectId" class="PBL1h3" target="_blank" rel="noopener">
                            <div class="KVNbdJ">
                                <div class="_3aUM-g">
                                    <div style="font-family:Roboto;font-size:10px;font-weight:500;font-style:normal;font-stretch:normal;line-height:21px;letter-spacing:normal;text-align:center;height:20px;color:#fff;border-radius:3px;padding:0 5px;margin-bottom:5px;z-index:1;background-color:#52ca46">PROJE</div>
                                </div>
                            </div>
                            <div style="position: absolute; right: 8px; top: 8px; left: auto;">
                                <div style="font-family: Roboto; font-size: 10px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: 21px; letter-spacing: normal; text-align: center; height: 20px; color: rgb(255, 255, 255); border-radius: 3px; padding: 0px 5px; margin-bottom: 5px; z-index: 1; background-color: rgb(95, 120, 126);">PREMIUM</div>
                            </div>
                            <div class="_1Txpjc">
                                @foreach (var rsm in ViewBag.images)
                                {

                                    if (rsm.ProjectId == item.ProjectId)
                                    {
                                        if (@c == 1)
                                        {

                                            <img src="~/imgProject/@rsm.ImageName" alt="@item.ProjectTitle" width="240" height="150">
                                        }
                                        c++;

                                    }

                                }

                            </div>
                            <div class="_3hnqEj">
                                <div class="_1OUJO8">@item.ProjectTitle</div>
                                <p>
                                    <span class="_1MaOz9">@item.District.DistrictName / @item.City.CityName - @item.ProjectCompany </span>
                                </p>
                                <div class="_1gvKP7">
                                    <span class="_1MaOz9"><i class="fa fa-area-chart"></i>@item.Area</span>
                                    <span class="_1MaOz9"><i class="fa fa-thumb-tack"></i>@item.TypeCount @item.Type.TypeName</span>
                                    <span class="_1MaOz9"><i class="fa fa-calendar"></i>@item.BuildingDelivery</span>
                                </div><div class="_17jTCi">
                                    <button class="ej27 ej1 ej3 ej6 _1BPba0" tabindex="0" type="button">
                                        <span class="ej2">Ask Price</span>
                                        <span class="ej169"></span>
                                    </button>
                                </div>
                            </div>
                        </a>
                        <div class="_1N8ZJ1">
                        </div>
                    </div>
                }

            </div>


        </div>
        <div style="display:flex;justify-content:center;align-items:center;">
            @Html.PagedListPager(Model, _pageNo => Url.Action("Filter", "Project", new { pageNo = _pageNo }))
        </div>


    </div>

</div>






