@model List<Advert>

<div id="owl-example" class="owl-carousel">
    @foreach (var item in Model)
    {
        var c = 1;
        <div class="properties">
            <div class="image-holder">

                @foreach(var rsm in ViewBag.images)
                {
                    if(rsm.AdvertId == item.AdvertId)
                    {
                        if(@c == 1)
                        {
                            <img src="~/img/@rsm.ImageName" class="img-responsive" alt="properties" />
                        }
                        c++;
                        
                    }
                    
                }
                @if (@item.Situation.SituationName == "Rent")
                {
                    <div class="status new">@item.Situation.SituationName</div>
                }
                else
                {
                    <div class="status sold">@item.Situation.SituationName</div>
                }
               
            </div>
            <br>
            <h4><a  asp-controller="Advert" asp-action="PropertyDetails" asp-route-id="@item.AdvertId">@item.Neighbourhood.District.City.CityName, @item.Neighbourhood.District.DistrictName, @item.Neighbourhood.NeighbourhoodName</a></h4>
            <p class="price">Price: $@item.Price</p>
            <div class="listing-detail1"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Room">Room</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Bath Room">Bath</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Floor">Floor</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Area">Area</span> </div>

            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">@item.NumberOfRooms</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">@item.BathRoomNumbers</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">@item.Floor</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">@item.Area</span> </div>
          
            <a class="btn btn-primary" asp-controller="Advert" asp-action="PropertyDetails" asp-route-id="@item.AdvertId">View Details</a>
        </div>
    }



</div>