@model List<Advert>

<div id="owl-example" class="owl-carousel">
    @foreach(var item in Model)
    {
        <div class="properties">
            <div class="image-holder">
                <img src="@item.Image" class="img-responsive" alt="properties" />
                <div class="status sold">@item.Type.Situation.SituationName</div>
            </div>
            <h4><a href="property-detail.php">Royal Inn</a></h4>
            <p class="price">Price: $@item.Price</p>
            <div class="listing-detail1"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">Room</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">Bath</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">Floor</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">Area</span> </div>
            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">@item.NumberOfRooms</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">@item.BathRoomNumbers</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">@item.Floor</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">@item.Area m2</span> </div>
            <a class="btn btn-primary" href="property-detail.php">View Details</a>
        </div>
    }
   
 

</div>