
<div class="search-form">
    <h4><span class="glyphicon glyphicon-search"></span> Search for</h4>
   
   @* <input type="text" class="form-control" placeholder="Search of Properties">*@
   @* <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search of Properties" class="btn btn-default" />

            </p>
        </div>
    </form>*@
    
    <form asp-controller="Advert" asp-action="Filter" method="get">
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <input type="text" class="form-control" name="min" placeholder="min" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <input type="text" class="form-control" name="max" placeholder="max"/>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <select name="CityId" id="CityId" class="form-control">
                        <option value="0" selected="City"></option>
                        @foreach(var item in ViewBag.cityList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            
            </div>
            <div class="col-lg-6">
                <select name="DistrictId" id="DistrictId" class="form-control">
                 
                    <option>District</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <select name="NeighbourhoodId" id="NeighbourhoodId" class="form-control">
                        <option >Neighbourhood</option>
                       
                    </select>
                </div>

            </div>
       
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <select name="CategoryId" id="CategoryId" class="form-control">
                        <option value="0" selected="Category">Category</option>
                        @foreach (var item in ViewBag.category)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <select name="TypeId" id="TypeId" class="form-control">
                    <option >Type</option>
                   
                    </select>
                </div>
            </div>
          
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <select name="SituationId" id="SituationId" class="form-control">
                        <option value="0" selected="Sitution"></option>
                        @foreach (var item in ViewBag.situation)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>

                </div>

            </div>

        </div>
        <div class="form-group mb-0">
            <button type="submit" class="btn btn-primary">Find Now</button>
        </div>
    </form>
  

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script src="~/adminweb/js/cascade.js"></script>