@model List<RoleAssignViewModel>
@{
    ViewData["Title"] = "RoleAssign";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Assign Role @ViewBag.FullName</h1>

<form asp-action="RoleAssign" method="post" asp-antiforgery="true">
    @for(int i=0; i<Model.Count; i++)
    {
        <div class="form-check">
            <input asp-for="@Model[i].Exist" type="checkbox"/>
            <label asp-for="@Model[i].Id" class="form-check-label">@Model[i].Name</label>
            <input type="hidden" asp-for="@Model[i].Id"/>
            <input type="hidden" asp-for="@Model[i].Name"/>
        </div>
    }
    <button class="btn btn-warning" type="submit">Assign Role</button>
</form>

