@model List<Projects>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
     }

</style>


@if (Model.Count == 0)
{
    <div class="container">
        <div class="row">
            <div class="alert alert-success">No Projects</div>
        </div>
    </div>
}
else
{
    <table class="table table-bordered table table-striped" id="table">
        <tr>
            <th>Title</th>
            <th>Project Company</th>
            <th>Building Delivery</th>
            <th>Price</th>
            <th>Number Of Rooms</th>
            <th>Delivery Date</th>
            <th>Area</th>
            <th>Floor Count</th>
            <th>Address</th>
            <th>Project Images</th>
            <th>Add Image</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProjectTitle</td>
                    <td>@item.ProjectCompany</td>
                    <td>@item.BuildingDelivery</td>
                    <td>@item.Price</td>
                    <td>@item.NumberOfRooms</td>
                    <td>@item.DeliveryDate</td>
                    <td>@item.Area</td>
                    <td>@item.FloorCount</td>
                    <td>@item.Address</td>
                    <td><a class="btn btn-success" asp-action="ImageList" asp-route-id="@item.ProjectId">Project Images</a></td>
                    <td><a class="btn btn-info" asp-action="ImageCreate" asp-route-id="@item.ProjectId">Add Image</a></td>
                    <td><a class="btn btn-danger" id="delete" data-id="@item.ProjectId">Delete</a></td>
                    <td><a class="btn btn-warning" asp-action="Update" asp-route-id="@item.ProjectId">Update</a></td>
                </tr>
            }
        </tbody>
    </table>
}
<a class="btn btn-primary" asp-action="Create">New Project</a>

<script type="text/javascript">

    $("#table").on("click", "#delete", function () {
        var id = $(this).data("id");

        swal({
            title: "Are you sure you want to delete?",
            text: "If you delete it, you are ready to run away!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, I will delete it!",
            cancelButtonText: "Forget it!",   //Modify the cancel display
            closeOnConfirm: false,
            showLoaderOnConfirm: true  //Display page of loading waiting time
        },
            function () {
                //  Send an ajax request to the backend
                $.ajax({
                    url: '/Admin/Project/Delete/' + id,
                    type: 'get',

                    success: function () {


                        swal("deleted!", "Go back and pack your luggage, get ready to run!", "success");
                        $(this).parent("td").parent("tr").remove();


                    }
                });

            });

    });


</script>




